
      ion-list {
          max-width: 400px;
          width:100%;
          margin: auto;
          text-align: center;
          background-color: rgb(30, 245, 198);
          scroll-padding-block: 30%;
      }
