<ion-header>
  <ion-toolbar>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<br><br><br><br><br><br><br><br><br>
<ion-content >
<ion-card-content >
 <form [formGroup]="loginForm" >
  <ion-list >
  <ion-item >
    <ion-label>Nom Utilisateur :</ion-label>
    <ion-input type="text" formControlName="identifier" name="identifier" ></ion-input>
  </ion-item >
  <ion-item >
    <ion-label>Mot de passe :</ion-label>
    <ion-input type="password" formControlName="password" name="password" ></ion-input>
  </ion-item><br>
  <ion-button  type="submit" (click)="login()" >Se Connecter</ion-button>
</ion-list>
</form>
</ion-card-content>
</ion-content>
