<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="ici">
      Dans-La-Réunion {{ data }}
    </ion-title>
    <button slot="end" routerLink="/login" >
      <ion-icon name="exit-outline"></ion-icon>
    </button>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<br><br><br>
<ion-content [fullscreen]="true">
  <ion-card-content>
  <ion-list>
   
  </ion-list>
  </ion-card-content>
</ion-content>
